<h5 class="display-5 font-weight-bold">Invitaciones Pendientes</h5>
<table class="table table-hover">
  <thead>
    <tr class="table-active">
      <th scope="col">Fecha</th>
      <th scope="col">Evento</th>
      <th scope="col">Lugar</th>
      <th scope="col">Organizador</th>
      <th scope="col">Acompañantes</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>14/10/2018</td>
      <td>Mi Cumpleaños</td>
      <td>Mi Casa</td>
      <td>Yo</td>
      <td>5</td>
      <td>v/ X</td>
    </tr>
    <tr>
      <td>14/10/2018</td>
      <td>Mi Cumpleaños</td>
      <td>Mi Casa</td>
      <td>Yo</td>
      <td>5</td>
      <td>v/ X</td>
    </tr>
  </tbody>
</table>