<h5 class="display-5 font-weight-bold">Agenda</h5>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th scope="col" colspan="4">Hoy</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventos">
            <td>{{evento.fechaDesde}}</td>
            <td>{{evento.nombre}}</td>
            <td>{{evento.locacion}}</td>
            <td>{{evento.organizador.nombreApellido}}</td>
        </tr>
    </tbody>
    <thead>
        <tr class="table-active">
            <th scope="col" colspan="4">Esta semana</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventos">
            <td>{{evento.fechaDesde}}</td>
            <td>{{evento.nombre}}</td>
            <td>{{evento.locacion}}</td>
            <td>{{evento.organizador.nombreApellido}}</td>
        </tr>
    </tbody>
    <thead>
        <tr class="table-active">
            <th scope="col" colspan="4">Próximos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventos">
            <td>{{evento.fechaDesde}}</td>
            <td>{{evento.nombre}}</td>
            <td>{{evento.locacion}}</td>
            <td>{{evento.organizador.nombreApellido}}</td>
        </tr>
    </tbody>
</table>