<h5 class="display-5 font-weight-bold">Agenda</h5>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th scope="col" colspan="4">Hoy</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventosHoy">
            <td>{{evento.fechaDesde | date: formatoFecha }}</td>
            <td>{{evento.nombre}}</td>
            <td>{{evento.locacion.nombre}}</td>
            <td>{{evento.organizador.nombreApellido}}</td>
        </tr>
    </tbody>
    <thead>
        <tr class="table-active">
            <th scope="col" colspan="4">Esta semana</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventosSemana">
            <td>{{evento.fechaDesde | date: formatoFecha }}</td>
            <td>{{evento.nombre}}</td>
            <td>{{evento.locacion.nombre}}</td>
            <td>{{evento.organizador.nombreApellido}}</td>
        </tr>
    </tbody>
    <thead>
        <tr class="table-active">
            <th scope="col" colspan="4">Próximos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evento of eventosProximos">
            <td>{{evento.fechaDesde | date: formatoFecha }}</td>
            <td>{{evento.nombre}}</td>
            <td>{{evento.locacion.nombre}}</td>
            <td>{{evento.organizador.nombreApellido}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="loading" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
</div>
<div *ngIf="error" class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{error}}
</div>