<div class="row p-0 m-0">
    <div class="col- p-0 m-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Agenda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Organizados por mi</a>
            <li class="nav-item">
                <a class="nav-link" href="#">Pendientes</a>
            </li>
        </ul>
    </div>
    <div class="col p-0 m-0">
        <app-mis-eventos-agenda></app-mis-eventos-agenda>
    </div>
</div>