<h5 class="display-5 font-weight-bold">Organizados por mi</h5>

<table class="table table-hover">
  <thead>
    <tr class="table-active">
      <th scope="col">Fecha</th>
      <th scope="col">Evento</th>
      <th scope="col">Lugar</th>
      <th scope="col">Invitados</th>
      <th scope="col">Confirmados</th>
      <th scope="col">Rechazados</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventos">
      <td>{{evento.fechaDesde | date: formatoFecha }}</td>
      <td>{{evento.nombre}}</td>
      <td>{{evento.locacion.nombre}}</td>
      <td>{{evento.invitados}}</td>
      <td>{{evento.confirmados}}</td>
      <td>{{evento.rechazados}}</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary btn-sm m-2" [routerLink]="'/eventos/organizados/nuevoEvento/abierto'" routerLinkActive="active" data-toggle="modal" data-target="#nuevoEvento">Nuevo Evento Abierto</button>
<button type="button" class="btn btn-primary btn-sm m-2" [routerLink]="'/eventos/organizados/nuevoEvento/cerrado'" routerLinkActive="active" data-toggle="modal" data-target="#nuevoEvento">Nuevo Evento Cerrado</button>
<div class="modal fade" id="nuevoEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <router-outlet></router-outlet>
</div>