<div class="form-row">
  <div class="form-group col-md-6">
    <label for="fechaMaximaConfirmacion">Fecha máxima confirmación</label>
    <input type="date" [min]="today()" [max]="max()" class="form-control" name="fechaMaximaConfirmacion" [(ngModel)]="fechaMaximaConfirmacion">
  </div>
  <div class="form-group col-md-6">
    <label for="horaMaximaConfirmacion">Hora</label>
    <input type="time" class="form-control" name="horaMaximaConfirmacion" [(ngModel)]="horaMaximaConfirmacion">
  </div>
</div>